In [18]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.tree import DecisionTreeRegressor

In [19]:

pima = pd.read_csv(r"train.csv")

In [20]:
pima.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:


for i in range(len(pima['PassengerId'])):
    if pd.isnull(pima['PassengerId'][i])=='True':
        pima['PassengerId'][i]=int(-1)

    if pd.isnull(pima['Survived'][i])=='True':
        pima['Survived'][i]=int(-1)

    if pd.isnull(pima['Pclass'][i])=='True':
        pima['Pclass'][i]=int(-1)

    if pd.isnull(pima['Name'][i])=='True':
        pima['Name'][i]=int(-1)

    if pima['Sex'][i]=='male':
        pima['Sex'][i]=int(1)
    else:
        pima['Sex'][i]=int(-1)


    if pd.isnull(pima['Age'][i])=='True':
        pima['Age'][i]=int(-1)

    if pd.isnull(pima['SibSp'][i])=='True':
        pima['SibSp'][i]=int(-1)

    if pd.isnull(pima['Parch'][i])=='True':
        pima['Parch'][i]=int(-1)

    if pd.isnull(pima['Cabin'][i])=='True':
        pima['Cabin'][i]=int(-1)



    if pd.isnull(pima['Embarked'][i])=='True':
        pima['Embarked'][i]=int(-1)


    if len(str(pima['Cabin'][i]).split(" ")) > 1:
        pima['Cabin'][i]=int(2)
    else:
        pima['Cabin'][i]=int(1)

<ipython-input-21-bba6b9fc59a6>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pima['Sex'][i]=int(1)
<ipython-input-21-bba6b9fc59a6>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pima['Cabin'][i]=int(1)
<ipython-input-21-bba6b9fc59a6>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pima['Sex'][i]=int(-1)
<ipython-input-21-bba6b9fc59a6>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pima['Cabin'][i]=int(2)

In [22]:
pima.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,1,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",-1,38.0,1,0,PC 17599,71.2833,1,C
2,3,1,3,"Heikkinen, Miss. Laina",-1,26.0,0,0,STON/O2. 3101282,7.9250,1,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",-1,35.0,1,0,113803,53.1000,1,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,1,S

In [23]:
answer=pima['Survived']
inp = np.array(list(zip(pima['PassengerId'], pima['Survived'], pima['Sex'],pima['SibSp'],pima['Age'],pima['Cabin'])))
m = DecisionTreeRegressor()
m.fit(inp,answer)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').